In [1]:
# Step 1: Import Libraries
import pandas as pd

# Step 2: Load the Dataset
df = pd.read_csv("Mall_Customers.csv")

In [2]:
# Step 3: Initial Exploration
print("Shape of dataset:", df.shape)
df.head()

Shape of dataset: (200, 5)

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
# Identify missing values
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [5]:
# Fill missing values using forward fill
df.ffill(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
# Convert 'Gender' values to lowercase
df['Gender'] = df['Gender'].str.lower()

In [10]:
# Example if a date column existed
 #df['Joining Date'] = pd.to_datetime(df['Joining Date'], format='%d-%m-%Y')

In [11]:
# Clean column headers: lowercase and replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [12]:
# Example: If 'Age' is a float but should be int
df['age'] = df['age'].astype(int)

# Check all data types
df.dtypes

customerid                 int64
gender                    object
age                        int32
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object